<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ps.comunio.comuniops" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:label="@string/title_activity_home_"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Twitter_Activity"
            android:label="Social" />
        <activity
            android:name=".Facebook_Activity"
            android:label="Social" />
        <activity
            android:name=".Jugador_Activity"
            android:label="Jugador" />
        <activity
            android:name=".Jugadores_Activity"
            android:label="Jugadores" />
        <activity
            android:name=".Jornadas_Activity"
            android:label="Jornadas" >
        </activity>
        <activity
            android:name=".Liga_Activity"
            android:label="Ligas" />
        <activity
            android:name=".Mercado_Activity"
            android:label="@string/title_activity_mercado"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Equipo_Activity"
            android:label="Mi equipo" >
        </activity>
        <activity android:name=".Registrar_Activity" >
        </activity>
        <activity
            android:name=".Venta_Activity"
            android:label="@string/title_activity_venta_" >
        </activity>
        <activity
            android:name=".Ficha_Activity"
            android:label="@string/title_activity_ficha_" >
        </activity>
        <activity
            android:name=".Participantes_Activity"
            android:label="@string/title_activity_participantes_">
        </activity>
    </application>

</manifest>
